
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    height: 100vh;
    background-color: rgb(237, 229, 229);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}
.header{
    grid-column: 2/9;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 2px 2px grey;

}
.first_header_row{
    display: flex;
    align-items: start;
    grid-row: 1/2;
    justify-content: space-around;
    padding-top: 20px;
}
.first_header_row svg{  
    color: black;
    fill: black;
}
.search_wrapper{
   display: flex;
   justify-content: baseline;
    
}
.search_wrapper input{
    width: 200px;
    padding-right: 400px;
    background-color: grey;
    border-radius: 10px;
}
.profile_section{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#profile_picture{
    border-radius: 50% ;
    width: 50px;
    height: 50;
    margin: 0 20px ;
}

.second_header_row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.salutation_section{
    grid-column: 1/2;
    display: flex;
    align-items: start;
    margin-left: 100px;

}

.action_section{
    grid-column: 3/4;
   
}
#btn-action{
    padding: 10px 20px;
    background-color: deepskyblue;
    text-align: center;
    border-radius: 18px;
    color: #fff;
}

.sidebar{
    background-color: deepskyblue;
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
     gap: 8px;
}
svg{
    width:20px;
    text-align: center;
    fill: white;
}
.sidebar--links{
    display: flex;
    margin: 20px 20px 0 20px;
}
.sidebar--links > ul > li> a{
 text-decoration: none; 
 color: white;

 
}
.sidebar--links > ul > li{
    list-style-type: none;
   
    
}

.article-section{
     grid-column: 2/7;
     grid-row: 2/5;
     margin-top: 20px;
     display: grid;
     grid-template-columns: 1fr 1fr;
}
.articles{
    border-left: 10px solid orange;
    box-shadow: gray;
    margin: 8px 8px;
    box-shadow: 2px 2px 2px grey;
    border-radius: 4px;
    
}
.article_information{
    padding: 20px;
}
.article_information p, 
.announcement_information p,
.trending_information p
{
    font-size: 0.8rem;
    opacity: 0.6;
}

.article_actions{
    padding: 20px;
    text-align: right;
}
.article_actions svg{
    fill: black;
    margin: 0 14px;
}
.anouncement_tredning-section{
grid-column: 7/9;
box-shadow: 4px 4px 4px gray;
margin-top: 20px;
}
.announcement_information >div{
    border-bottom: 2px solid rgb(201, 197, 197);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 8px;

}
.anouncement{
box-shadow: 4px 4px 4px gray;
margin-right: 0px;
}

.anouncement, 
.trending{
    padding: 20px;
}
.trending_images img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.trending{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.trending_information h4{
    cursor: pointer;
}
.trending_section{
    padding: 20px;
    box-shadow: 2px 2px 2px grey;
    border-radius: 10px;

}
